@import "../../index.scss";

.titleText {
  text-decoration: underline;
  margin-bottom: 10px;
}

.descriptionText {
  padding: 1em;
  background-color: $tertiary-color;
  color: #fff;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.releaseText {
  font-style: italic;
  font-weight: 600;
}

.descriptionWrapper {
  border: 1px solid #000;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
}

.Cover {
  padding: 10px;
  width: 50%;
}

.buttonCon {
  display: flex;
  justify-content: left;
}

.backButton {
  width: 150px;
  height: 45px;
  margin: 20px;
  border-radius: 50px;
  border: 2px solid $tertiary-color;
  font-size: 16px;
  font-family: $font;
  font-weight: 800;
  color: $text-color;
  text-shadow: #000 1px 1px 3px;
  background-color: $secondary-color;
  transition: 0.9s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  cursor: pointer;
}

.backButton:hover {
  width: 160px;
  height: 60x;
  border-radius: 200px 30px 30px 30px;
}
