@import "../../../index.scss";

.titleText {
  text-decoration: underline;
  margin-bottom: 10px;
}

.descriptionText {
  padding: 1em;
  background-color: $tertiary-color;
  color: #fff;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.releaseText {
  font-style: italic;
  font-weight: 600;
}

.descriptionWrapper {
  border: 1.5px solid #000;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 0 1.5em 2em -1em #999;
}

.Cover {
  width: 35%;
}

.buttonCon {
  display: flex;
  justify-content: left;
}

.backButton {
  width: 150px;
  height: 45px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid $tertiary-color;
  font-size: 16px;
  font-family: $font;
  font-weight: 800;
  color: $text-color;
  text-shadow: #000 1px 1px 3px;
  background-color: $secondary-color;
  transition: 0.3s;
  cursor: pointer;
}

.backButton:hover {
  background-color: rgba($secondary-color, 0.6);
}

@media (min-width: 900px) {
  .descriptionWrapper {
    width: 80%;
  }
}
